/* general styling */
body{
    background-color: #a9a9a9;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/*header styling */
header {
    margin: 0;
    color: darkgrey;
    text-align: center;
    background-color: #4f7819;
    overflow: hidden; /* background overlaps the heaeder */
}

label{
    font-size: large;
}

#banner-background{
    width: 100%;
    height: 50px;
}

#header-text-div {
    width: 100%;
    min-width: 500px;
    height: 50px;
    display: flex;
    position: fixed;
    align-items: center;
    padding-left: 30px;
    background: #a9a9a9;
    font-size: 11pt;
    border-bottom: 1px solid #77846C;
}

#login-register-div {
    min-width: 500px;
    height: 50px;
    display: flex;
    position: fixed;
    align-items: center;
    right: 0;
    margin-right: 30px;
    justify-content: center;
    font-size: 11pt;
    text-align: left;
    background: #a9a9a9;
}

#messages-table-div {
    border: 1px solid #77846C;
    padding: 10px;
}

#send-message-div{
    border-bottom: 1px solid #77846C;
    border-right: 1px solid #77846C;
    padding: 10px;
}

#page-content-div
{
    text-align: left;
}

#message-table-element, th, td {
    border: 1px solid #000000;
    border-collapse: collapse;
}
